<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/938364cfa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <title>Asignación asesor</title>
</head>

<body ng-app="simen" ng-controller="controllerapp">
    <header>
        <a href="#" class="menu-bars" id="show-menu">
            <i class="fa fa-bars"></i>
        </a>
        <img class="rounded-circle img-fluid" alt="Logo" src="src/logoIncubadora.png" data-holder-rendered="true" style="width:6rem; height:6rem">
        <label class="titulo"><strong>
                <h3>SISTEMA DE INCUBACION DE EMPRESAS</h3>
            </strong></label>
            <label for="" style="margin-left: 10%;">Sesión de
                <strong>
                    {{usuario}}
                    <span ng-if="rol == 1">
                        (Admin)
                    </span>
                    <span ng-if="rol == 2">
                        (Asesor)
                    </span>
                    <span ng-if="rol == 3">
                        (Usuario)
                    </span>
                </strong>
            </label>

    </header>

    <nav id="nav-menu">
        <ul class="nav-menu-items">
            <div id="navbar-toggle">
                <a href="#" class="menu-bars" id="hide-menu">
                    <i class="fas fa-bars nav-icon"></i>
                </a>
                <a href="#">
                    <h1>
                        <i class="fas fa-user-tie"></i> SIMEN
                    </h1>
                </a>
            </div>
            <hr>
            <div class="nav-section">
                <li class="nav-text"><a href="contrasenas.html"><i class="fas fa-angle-right"></i> Cambiar
                        contraseña</a></li>
                <li class="nav-text"><a href="AsignacionAsesores.html"><i class="fas fa-angle-right"></i> Asignación de
                        asesores</a></li>
                <li class="nav-text"><a href="RegistroAsesor.html"><i class="fas fa-angle-right"></i> Registro de
                        asesor</a></li>


                <li class="">
                    <form action="" ng-click="cerrarSesion()">
                        <button class="btn btn-secondary" type="submit" style="margin-left: 15%; margin-top: 15%;">Cerrar sesión</button>
                    </form>
                    </a>
                </li>

            </div>
        </ul>
    </nav>

    <div class="container">

        <div class="contenedorTabla row" style="margin-bottom:15%;">
            <div class="card-header col-md-12">Asignacion de <strong>ASESORES A EMPRESAS <i class="fas fa-user-tie"> <i
                            class="fas fa-plus"> </i> <i class="fas fa-building"></i></i></strong></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Giro</th>
                        <th scope="col">Asignar asesor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in empresaList2">
                        <th scope="row">{{$index+1}}</th>
                        <input type="hidden" ng-model="incubacion.idIncubacion" value="{{item.idIncubacion}}">
                        <td>{{item.empresa.razonSocial}}</td>
                        <td>{{item.empresa.giro.nombre}}</td>
                        <td> <a type="button" ng-click="verIncubadora(item)" class="btn btn-success"><i
                                    class="fas fa-user-plus"></i>
                                </a></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Asignar asessor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="asignarAsesor" ng-submit="registroAsignarAsesor()">
                            <div class="mb-3">

                                <div class="form-group row" style="text-align:right; margin-bottom:10%;">
                                    <div class="input-group flex-nowrap col-md-6">
                                        <span class="input-group-text" id="addon-wrapping"> <i
                                                class="fas fa-building"></i></span>
                                        <input type="text" name="" id="" ng-model="incubacion.empresa.razonSocial" class="form-control" readonly="true" />
                                    </div>
                                </div>

                                <input type="hidden" name="" id="" ng-model="incubacion.idIncubacion" class="form-control" readonly="true" />


                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label"><i
                                            class="fas fa-user-tie"></i> Asesor </label>
                                    <div class="col-md-9">
                                        <select ng-model="incubacion.asesor.idUsuario" class="form-control form-control-sm" required>
                                            <option ng-repeat="item2 in asesor" value="{{item2.idUsuario}}">
                                                {{item2.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success" ng-disabled="asignarAsesor.$invalid"><i class="fas fa-user-plus"></i>
                                    Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="text-align:center">
        2021 - Universidad Tecnológica Emiliano Zapata del Estado de Morelos
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/app.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="js/adminRol.js"></script>
</body>

</html>